.header {
    background-image: url("/images/header.svg");
    background-size: cover;
    min-height: 140px;
}

.header .container {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header .container h1{
    font-weight: 600;
}

@media (max-width: 1000px) {
    .header {
        background-size: auto;
        min-height: auto;
    }
    
    .header .container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .header .container h1{
        font-size: 1.3rem;
        margin: 10px;
    }
}